[flake8]
max-line-length = 99
ignore = E501, W503, E203
    # E731,  # Do not assign a lambda expression, use a def
    # E266,  # Too many leading '#' for block comment
    # C901,  # Function is too complex
    # W503,  # Line break occurred before a binary operator
    # Ignore line length for comments only
    # E501,     # line too long
exclude =
    .git,
    notebooks,
    references,
    data,
    .venv,
    venv,
    __pycache__,
    build,
    dist
